body{
	font-family: "museo-sans",verdana,sans-serif;
	margin-top: 0;
	background: url(../images/lake.jpg) no-repeat center;
}
header {
	box-shadow: 0 2px 5px rgba(51, 51, 51, 0.8);
}
form, .profile, .home, .body {
	background: rgba(255, 255, 255, 0.9);
	margin: 30px 0;
	padding: 30px 0;
	box-shadow: 0 2px 5px rgba(51, 51, 51, 0.8);
}
form h1, .profile h1, .home h1 {
	font-family: "museo-slab",georgia,serif;
	text-align: center;
}
form button {
	font-family: "museo-slab",georgia,serif;
	font-weight: "700";
	display: block;
}

form .row {
	margin: 15px 0;
}

.profile, .home {
	padding: 30px;
}

